{% extends 'base.html' %}

{% block content %}



<div class="container-fluid"> 
    <h1>Air Quality & PM Readings </h1> <br/>
    <hr> 
</div>

<div class = "alert alert-dark" role="alert" ><strong>City:</strong><hr> {{ api.0.ReportingArea }}</div> <br/>

{% if zipcode %}
    {{ zipcode }}
{%  endif %}

{% if api %}
    {% if api == 'Error..' %}
    There was an error, please try again...
    {% else %}

    
    <div class = "alert alert-dark" role="alert" >
       
        <div class = "alert alert-dark" role="alert" ><Strong>Date of Reading:</Strong><hr> {{ api.0.DateObserved }} </div>

        <div class = "alert alert-dark" role="alert" ><strong>Air Quality Index:</strong><hr> {{ api.0.AQI }} </div> 

        <div class = "alert alert-success {{pm25_quality}}" role="alert" ><strong>Air Quality:</strong><hr> {{ api.0.Category.Name }}  </div> 
     
        <div class = "alert alert-success {{pm25_index}}" role="alert" ><strong>PM 2.5 Index:</strong><hr> {{api.1.AQI}} </div>

        <div class = "alert alert-dark {{pm25_index}}" role="alert" ><Strong>PM 2.5 Quality:</Strong><hr> {{api.1.Category.Name}} </div>

        <div class = "alert alert-dark" role="alert" ><strong>PM 10 Index:</strong><hr> {{api.2.AQI}} </div>

        <div class = "alert alert-dark" role="alert" ><strong>PM 10 Quality:</strong><hr> {{api.2.Category.Name}}  </div>

    </div>

    {% endif %}
        
{% endif %}


        
        
{% endblock %}


