{% extends 'base.html' %}

{% block content %}

<h1>Air Quality & PM Readings </h1>
<div class = "alert alert-dark" role="alert" ><Strong>Date of Reading:</Strong> {{ api.0.DateObserved }} </div>
<br/>

{% if api %}
    {% if api == 'Error..' %}
    There was an error, please try again...
    {% else %}

    
    <div class = "alert alert-dark" role="alert" >
        <div class = "alert alert-dark" role="alert" ><strong>City:</strong> {{ api.0.ReportingArea }} </div>
        <div class = "alert alert-dark" role="alert" ><strong>Air Quality Index:</strong> {{ api.0.AQI }} </div>     
        <div class = "alert alert-dark" role="alert" ><strong>Air Quality:</strong> {{ api.0.Category.Name }}  </div> 
        <div class = "alert alert-dark" role="alert" ><strong>PM 2.5 Index:</strong> {{api.1.AQI}} </div>
        <div class = "alert alert-dark" role="alert" ><Strong>PM 2.5 Quality:</Strong> {{api.1.Category.Name}} </div>
        <div class = "alert alert-dark" role="alert" ><strong>PM 10 Index:</strong> {{api.2.AQI}} </div>
        <div class = "alert alert-dark" role="alert" ><strong>PM 10 Quality:</strong> {{api.2.Category.Name}}  </div>
    </div>

    {% endif %}
        
{% endif %}


        
        
{% endblock %}


